@font-face {
	font-family: 'MindEase Art';
	src: url('../assets/fonts/MaShanZheng-Regular.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'MindEase WenKai';
	src: url('../assets/fonts/LXGWWenKaiLite-Regular.ttf') format('truetype');
	font-display: swap;
}

@import './app.scss';
@import 'common/transition.scss';
@import './other.scss';
@import './element.scss';
@import './media/media.scss';
@import './waves.scss';
@import './dark.scss';
@import './companion.scss';
